@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 18px;
}

body {
  font-family: "Barlow", sans-serif;
  color: #23303e;
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  gap: 0;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

body > * {
  text-align: center;
}

div, section, header, footer {
  scroll-snap-align: start;
}

h1, h2, h3 {
  font-family: "Fraunces", serif;
}

header {
  grid-area: header;
}
header .topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
}
header .topbar img {
  padding: 0.8rem;
}
header .hero h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  padding: 3rem;
}
header .hero img {
  padding: 2rem;
}

.egg, .glass {
  background-size: cover;
}

.egg {
  grid-area: egg;
  background: url("./images/mobile/image-transform.jpg") center center no-repeat;
}

.glass {
  grid-area: glass;
  background: url("./images/mobile/image-stand-out.jpg") center center no-repeat;
}

.transform-brand, .stand-out {
  justify-content: center;
}

.transform-brand, .stand-out, .graphic-design, .photography {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.transform-brand h2, .stand-out h2, .graphic-design h2, .photography h2 {
  font-weight: 900;
  font-size: 2rem;
  padding: 1rem;
}
.transform-brand p, .stand-out p, .graphic-design p, .photography p {
  color: #818498;
  line-height: 1.5rem;
  padding: 1rem;
}

.transform-brand a, .stand-out a {
  color: #23303e;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  padding: 1rem;
  text-decoration: underline;
  text-decoration-thickness: 0.3rem;
  transition: text-decoration-color 0.3s ease-in-out;
}

.transform-brand {
  grid-area: transform-brand;
}
.transform-brand a {
  text-decoration-color: rgba(250, 212, 0, 0.5);
}
.transform-brand a:hover {
  text-decoration-color: #fad400;
}

.stand-out {
  grid-area: stand-out;
}
.stand-out a {
  text-decoration-color: rgba(254, 120, 103, 0.5);
}
.stand-out a:hover {
  text-decoration-color: #fe7867;
}

.graphic-design, .photography {
  justify-content: flex-end;
  min-height: 50rem;
  background-size: 100vw auto;
}

.graphic-design {
  grid-area: design;
  background: url("./images/mobile/image-graphic-design.jpg") top center no-repeat;
  color: #25564b;
}
.graphic-design p {
  color: #25564b;
}

.photography {
  grid-area: photography;
  background: url("./images/mobile/image-photography.jpg") top center no-repeat;
  color: #19536b;
}
.photography p {
  color: #19536b;
}

.testimonials {
  grid-area: testimonials;
}
.testimonials h3 {
  color: #a7abae;
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  padding: 3rem;
}
.testimonials__client {
  padding: 2rem;
}
.testimonials__client img {
  width: 4rem;
  height: auto;
  border-radius: 2rem;
  margin-top: 1rem;
}
.testimonials__client p {
  color: #5a636c;
  line-height: 1.5rem;
  font-size: 1.2rem;
  padding: 2rem;
}
.testimonials__client .name {
  font-family: "Fraunces", serif;
  color: #23303e;
  font-size: 1.2rem;
  margin: 0.5rem;
}
.testimonials__client .role {
  color: #a7abae;
}

.images {
  grid-area: images;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.images .img-01 {
  background: url("./images/mobile/image-gallery-01.jpg") top center no-repeat;
  background-size: cover;
  grid-area: img-01;
}
.images .img-02 {
  background: url("./images/mobile/image-gallery-02.jpg") top center no-repeat;
  background-size: cover;
  grid-area: img-02;
}
.images .img-03 {
  background: url("./images/mobile/image-gallery-03.jpg") top center no-repeat;
  background-size: cover;
  grid-area: img-03;
}
.images .img-04 {
  background: url("./images/mobile/image-gallery-04.jpg") top center no-repeat;
  background-size: cover;
  grid-area: img-04;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: #8ec7bc;
}
footer .footer__logo {
  width: 150px;
  margin: 2rem;
}
footer .footer__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  width: 90%;
}
footer .footer__links a {
  color: #25564b;
  text-decoration: none;
}
footer .footer__socials {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .footer__socials a {
  padding: 0;
  margin: 1rem;
}

@media screen and (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "egg" "transform-brand" "glass" "stand-out" "design" "photography" "testimonials" "images" "footer";
  }

  header {
    height: 100vw;
    background: url("./images/mobile/image-header.jpg") bottom no-repeat;
    background-size: cover;
  }

  .egg, .glass, .transform-brand, .stand-out {
    background-size: cover;
    height: 100vw;
  }

  .graphic-design, .photography {
    background-size: cover;
  }

  .images {
    height: 100vw;
    grid-template-areas: "img-01 img-02" "img-03 img-04";
  }

  nav {
    position: absolute;
    top: 6rem;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 80vw;
  }
  nav ul {
    list-style: none;
  }
  nav ul li {
    margin: 0;
    padding: 0;
  }
  nav::before {
    position: relative;
    top: -2rem;
    left: calc(40vw - 1rem);
    content: "";
    height: 2rem;
    width: 2rem;
    background: white;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  }
}
@media screen and (min-width: 701px) {
  body {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header" "transform-brand egg" "glass stand-out" "design photography" "testimonials testimonials" "images images" "footer footer";
  }

  header {
    padding: 0.5rem;
    background: url("./images/desktop/image-header.jpg") bottom no-repeat;
    background-size: cover;
  }

  .egg, .glass, .transform-brand, .stand-out {
    height: 50vw;
    background-size: cover;
  }

  .graphic-design, .photography {
    background-size: cover;
  }

  .images {
    height: 25vw;
    grid-template-areas: "img-01 img-02 img-03 img-04";
  }

  #burger {
    display: none;
  }

  nav {
    display: block;
  }
  nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 450px;
  }
  nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
  }
  nav ul li a {
    font-family: "Barlow", sans-serif;
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
    display: block;
    height: 2.2rem;
    padding: 0.6rem;
    border-radius: 3rem;
    background-color: none;
  }
  nav ul li a:hover {
    text-transform: uppercase;
    font-family: "Fraunces", serif;
    background-color: #6DCCFC;
  }
  nav ul li a:active {
    color: #19536b;
    background-color: white;
  }
}

/*# sourceMappingURL=style.css.map */
